
html, body {
	padding: 0;
    margin: 0;
    background-color: #E4E4E4;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.viewport {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#modelCanvas {
    width: 45vw;
    height: 600px;
}

#stack {
    position:relative;
    width: 50vw;
    margin: 0 40 20 0;
    }

button {
    height: 26px;
    width: 50px;
    border-radius:20px;
    height: 40px;
    margin-right: 10px;
    box-shadow: 0px 1px #ACACAC;
    border: none;
    z-index:50;
}

button:focus {
    outline:0;
}

#playButton {
    width: 85px;
}

.activeButton {
    background: #F3B1B1;
}

#pauseButton {
    width: 70px;
}

#pauseButton:active {
    background: #F3B1B1;
}

#speedButton {
    font-size: 11px;
    color: #FF8484;
    font-weight: bold;
}

#stopButton:active {
    background: #ACACAC;
}

#restartButton:active {
    background: #ACACAC;
}

#restartButton {
    margin-left: auto;
    margin-right:10px;
    justify-content:flex-right;
}

#timeButton {
    margin-right: 35px;
    width: 100px;
    justify-content:flex-right;
    font-size: 14px;
    color: #000000;
    pointer-events: none;
}

#graphButtons {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30 20 0 55;
}

#graphOverviewBackground:before {
  content: '';
  display: block;
  background-color: white;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 40px;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

#graphOverviewBackground {
    position: relative;
    margin-top: 20px;
    right: -17px;
}



.overviewWrapper {
    position: relative;
    margin-left: 40px;
    overflow: hidden;
    border-radius: 4px; 
}

#overviewSeeker {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #000000;
}

#graphOverview {
    position: static;
    height: 75px;
    display:block;
    right: 0;
    border-radius: 4px;
    z-index: 50;
}

.overviewSlider {
    position: absolute;
    height: 75px;
    width: 2px;
    z-index: 120;
    cursor: pointer;
}

#overviewSliderStart {
    left: 40px;
    width: 100px;
    pointer-events: none;
    text-align: center;
}

.overviewSliderCenterTick {
    width: 1px;
    height: 100%;
    background-color: #bbbbbb7a;
    display: inline-block;
}

#overviewSliderStart:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 10000px;
    right: 100%;
    background-color: #6060602f;    
    z-index: 1;
    pointer-events: none;
}

#overviewSliderStart:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 10000px;
    background-color: #6060602f;    
    z-index: 1;
    left: 100%;
    pointer-events: none;
}

#overviewSliderEnd {
    right: 0;
    top: 0;
}

#overviewSliceWindow {
    position: absolute;
    height: 90px;
    top: -15px;
    display:block;
    right: 0;
    border-radius: 4px;
    z-index: 100;
}

#graphTimeBar {
    padding:5px;
    height: 50px;
    width: 100%;
}

ul {
    width:50vw;
    height: 60vh;
    margin: 0;
    padding:20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

li:before {
  content: '';
  display: block;
  background-color: white;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 40px;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

canvas {
    position: absolute;
    z-index:20;
    top: 0px;
    height: 75px;
}

li {
    width: 100%;
    height:75px;
    margin-top:40px;
    list-style-type: none;
    position: relative;
}

h3 {
    position:absolute;
    margin:0;
    padding:0;
    left: 40px;
    letter-spacing:5px;
    font-size: 12px;
    color: #606060;
}

.valueReadout {
    position:absolute;
    margin:0;
    padding:0;
    right: 0px;
    letter-spacing:1px;
    font-size: 12px;
    color: #606060;
}

.graphInfo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height:20px;
    top: -23px;
}

#sliderCanvas {
    z-index: 0;
    top: 0;
}

	

	
