
html, body {
	padding: 0,0,0,0;
	margin: 0;
}

#stack {
    position:relative;
    
    }
#graph, #slider {
    position:absolute;
    left:300;
    top:245;
    }



ul {
    width:50vw;
    height:95vh;
    overflow: scroll;
    overflow-x: hidden;
    float:right;
}

li {
    width: 100%;
    height:300px;
    list-style-type: none;
    margin: 10px;
}
	

	
